:root {
    --main-color: #E11D3F;
    font: 18px Helvetica, Arial, sans-serif;
}

.App-logo {
    height: 200px;
    width: 200px;
}

.App-header {
    display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--primary-color);
    border-bottom: 3px solid var(--main-color);
}

.App-header h1 {
    font-size: 28px;
    color: var(--main-color);
    margin: 20px 10px 0px 10px;
}